 .u-section-1 {
  background-image: url("images/dovile-tarutyte-038-o-nevo-tam-balota.jpg?rand=75fc");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 419px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 532px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 398px;
  width: 328px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 532px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 31px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 456px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 423px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-1 .u-image-1 {
    height: 320px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 108px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-1 .u-image-1 {
    height: 555px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 340px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
  }

}


@media (max-width: 767px) {
  .nft-art-gen-section button, .nft-art-gen-section select, .nft-art-gen-mint-progress{
    margin-left:auto !important;
    margin-right:auto !important;
    text-align: center !important;
  }

  #title, #subtitle{
    display:block !important;
    margin-left:auto;
    margin-right:auto;
  }
}

@media (min-width: 992px) {
  .nft-art-gen-section button, .nft-art-gen-section select, .nft-art-gen-mint-progress,{
    margin-left:0 !important;

  }
}

.nft-art-gen-section{
  flex-flow:column-reverse wrap !important;
}

.nft-art-gen-section button, .nft-art-gen-section select{
  display:block !important;
  margin-bottom:5px;
  background-color: #eac61e !important;
  border-radius: 10px !important;
  padding:5 15px;
  color:#204709 !important;
  border:#204709;
  text-align: center;
  font-size: 1rem !important;
  height:auto !important;
  font-weight:bold !important;
  line-height: auto !important;
  font-weight: 500;
  font-size: 1.125rem;
}


.nft-art-gen-mint-progress{
  display:inline-block;
  color: #ffffff !important;
  line-height: 1.2 !important;
  font-weight: 500 !important;
  font-size: 1.125rem;
  text-align:left;
}